---
http_interactions:
- request:
    method: get
    uri: http://api.meetup.com/events.json/?group_urlname=tampa-rb&key=MEETUP_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Meetup-Server:
      - api3.int.meetup.com
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1357923600'
      X-Oauth-Scopes:
      - basic
      X-Accepted-Oauth-Scopes:
      - basic
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"rsvpcount":"17","venue_name":"8th Light Offices","maybe_rsvpcount":"0","payment_required":"0","allow_maybe_rsvp":"0","rsvpable":"OPEN","member_status":"member","time":"Thu
        Jan 17 19:00:00 EST 2013","venue_zip":"33618","venue_visibility":"public","feedesc":"","updated":"Tue
        Jan 08 19:53:11 EST 2013","venue_address1":"10012 N. Dale Mabry Hwy, Suite
        107","description":"<ul>\n<li>We''ll talk about the difficulty of getting
        into game development and using your existing experience with Ruby to get
        a head start.<\/li>\n<li>We''ll talk about the basics of game development
        and the downside of using MRI Ruby to make games.<\/li>\n<li>We''ll talk about
        using JRuby to leverage the great performance of the JVM and existing game
        libraries in Java to build games that can be easily released to multiple platforms.<\/li>\n<li>We''ll
        talk about anything else the group want to explore. If you have any experience
        in Game Development (with or without Ruby), I''d like to invite you to come
        and share with the group.<\/li>\n<\/ul>\n<p>I can''t promise a formal lecture
        with an amazing array of slides, but I will have a lot of information to share
        and a lot of very cool things to explore with everybody.<\/p>\n<p> <\/p>","venue_address2":"","venue_address3":"","venue_id":"10283432","rsvp_closed":"0","photo_count":"","lon":"-82.51000213623047","no_rsvpcount":"1","status":"upcoming","photo_url":"http:\/\/photos1.meetupstatic.com\/photos\/event\/1\/4\/c\/global_52722332.jpeg","group_id":"275634","utc_rsvp_cutoff":"None","questions":[],"rsvp_cutoff":"None","short_link":"","attendee_count":"0","fee":"0.0","venue_map":"http:\/\/maps.google.com\/staticmap?center=28.042517,-82.504684&zoom=14&size=512x512&maptype=mobile&markers=28.042517,-82.504684,blues&sensor=false","how_to_find_us":"","venue_lat":"28.042517","rsvp_open_time":"None","my_waitlist_status":"","organizer_id":"2975923","feelabel":"","myrsvp":"yes","id":"95635932","ismeetup":"1","venue_city":"Tampa","name":"Developing
        Games in Ruby","photo_album_id":"","lat":"27.920000076293945","venue_state":"FL","group_name":"The
        Tampa Ruby Brigade","rsvp_limit":"35","group_photo_url":"http:\/\/photos1.meetupstatic.com\/photos\/event\/1\/4\/c\/global_52722332.jpeg","guest_limit":"0","utc_time":"1358467200000","waiting_rsvpcount":"0","organizer_name":"Jason
        Perry","feecurrency":"USD","utc_rsvp_open_time":"None","event_hosts":[{"member_name":"Gavin
        Stark","member_id":1412901},{"member_name":"Jason Perry","member_id":2975923}],"venue_phone":"","venue_lon":"-82.504684","rating_count":0,"event_url":"http:\/\/www.meetup.com\/tampa-rb\/events\/95635932\/","rating":0}],"meta":{"lon":"","count":1,"link":"http:\/\/api.meetup.com\/events.json\/","next":"","total_count":1,"url":"http:\/\/api.meetup.com\/events.json\/?key=MEETUP_API_KEY&radius=25.0&order=time&group_urlname=tampa-rb&offset=0&format=json&page=200&fields=","id":"","title":"Meetup
        Events","updated":"Tue Jan 08 19:53:11 EST 2013","description":"Deprecated
        API method for accessing meetup events. Please see [\/2\/events](\/meetup_api\/docs\/2\/events\/)
        and [\/2\/open_events](\/meetup_api\/docs\/2\/open_events\/) for replacements.","method":"Events","lat":""}}

'
  recorded_at: Fri, 11 Jan 2013 16:41:42 GMT
recorded_with: VCR 2.4.0
