---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/hippo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8aad5b53d1bcc82bc971a97f8823fc01"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"name":"hippo","downloads":9853,"version":"0.5.1","version_downloads":79,"platform":"ruby","authors":"Robert
        Jackson, Jon Jackson","info":"HIPAA Transaction Set Generator/Parser","project_uri":"http://rubygems.org/gems/hippo","gem_uri":"http://rubygems.org/gems/hippo-0.5.1.gem","homepage_uri":"http://github.com/promedical/hippo","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"minitest","requirements":">=
        0"},{"name":"rake","requirements":"~> 10.0.2"}],"runtime":[]}}'
  recorded_at: Sun, 13 Jan 2013 07:07:07 GMT
recorded_with: VCR 2.4.0
