---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/jokes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind":
        "t3", "data": {"domain": "self.Jokes", "banned_by": null, "media_embed": {},
        "subreddit": "Jokes", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;As
        a group of soldiers stood in formation at an Army Base, the Drill Sergeant
        said, &amp;quot;All right! All you idiots fall out.&amp;quot;\nAs the rest
        of the squad wandered away, one soldier remained at attention.The Drill Instructor
        walked over until he was eye-to-eye with him, and then raised a single eyebrow.
        The soldier smiled and said, &amp;quot;Sure was a lot of &amp;#39;em, huh,
        sir?&amp;quot;&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;", "selftext": "As
        a group of soldiers stood in formation at an Army Base, the Drill Sergeant
        said, \"All right! All you idiots fall out.\"\nAs the rest of the squad wandered
        away, one soldier remained at attention.The Drill Instructor walked over until
        he was eye-to-eye with him, and then raised a single eyebrow. The soldier
        smiled and said, \"Sure was a lot of ''em, huh, sir?\"", "likes": null, "link_flair_text":
        null, "id": "16htfp", "clicked": false, "title": "One soldier", "num_comments":
        130, "score": 988, "approved_by": null, "over_18": false, "hidden": false,
        "thumbnail": "", "subreddit_id": "t5_2qh72", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 511, "saved": false, "is_self":
        true, "permalink": "/r/Jokes/comments/16htfp/one_soldier/", "name": "t3_16htfp",
        "created": 1358121654.0, "url": "http://www.reddit.com/r/Jokes/comments/16htfp/one_soldier/",
        "author_flair_text": null, "author": "mayo_is_a_instrument", "created_utc":
        1358092854.0, "media": null, "num_reports": null, "ups": 1499}}, {"kind":
        "t3", "data": {"domain": "self.Jokes", "banned_by": null, "media_embed": {},
        "subreddit": "Jokes", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;They
        give them gas.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;", "selftext": "They
        give them gas.\n\n", "likes": null, "link_flair_text": null, "id": "16hn7i",
        "clicked": false, "title": "Why don''t Jewish cannibals like eating Germans?
        ", "num_comments": 8, "sc[...]
